.button {
  text-align: center;
  margin: auto;
  width: 5%;
  padding: 20px;
}

.settings {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

::ng-deep .mat-select{
  opacity: 0.75;
}

::ng-deep .mat-form-field{
  width:60px;
}
