<div>

  <p> Select your meal time </p>
  <form>
    <mat-form-field appearance="fill">
      <mat-select name="eatHour" [(ngModel)]="selectedEatHours">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field appearance="fill">
      <mat-select name="eatMinutes" [(ngModel)]="selectedEatMinutes">
        <mat-option *ngFor="let minute of minutes" [value]="minute">
          {{minute}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <p> Select your cooking time </p>
  <form>
    <mat-form-field appearance="fill">
      <mat-select name="cookHour" [(ngModel)]="selectedCookHours">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field appearance="fill">
      <mat-select name="cookMinutes" [(ngModel)]="selectedCookMinutes">
        <mat-option *ngFor="let minute of minutes" [value]="minute">
          {{minute}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <nav>
    <a routerLink="/recipe" routerLinkActive="activebutton" (click)="add()">
      <button mat-fab>Steps</button>
    </a>
  </nav>

</div>
