<div>

  <p> Select your meal time </p>
  <form>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedEatHours" name="eatHour">
        <mat-option *ngFor="let hour of hours" [value]="hour.value">
          {{hour.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedEatMinutes" name="eatHour">
        <mat-option *ngFor="let minute of minutes" [value]="minute.value">
          {{minute.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <p> Select your cooking time </p>
  <form>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedCookHours" name="eatHour">
        <mat-option *ngFor="let hour of hours" [value]="hour.value">
          {{hour.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedCookMinutes" name="eatHour">
        <mat-option *ngFor="let minute of minutes" [value]="minute.value">
          {{minute.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <nav>
    <a class="button" routerLink="/recipe" routerLinkActive="activebutton" (click)="add()">Steps</a>
  </nav>

</div>
