<div>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Eat hour</mat-label>
      <mat-select [(ngModel)]="selectedEatHours" name="eatHour">
        <mat-option *ngFor="let hour of hours" [value]="hour.value">
          {{hour.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p> Selected hour: {{selectedEatHours}} </p>

    <mat-form-field appearance="fill">
      <mat-label>Eat minutes</mat-label>
      <mat-select [(ngModel)]="selectedEatMinutes" name="eatHour">
        <mat-option *ngFor="let minute of minutes" [value]="minute.value">
          {{minute.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p> Selected minutes: {{selectedEatMinutes}} </p>

  </form>

  <nav>
    <a class="button" routerLink="/recipe" routerLinkActive="activebutton" (click)="add()">Steps</a>
  </nav>

</div>
