.header {
  position: absolute;
  top: 0;
  padding: 5px;
  background: #f9f1dc;
  width: 100%;
  text-align: center;
}

.tagLine{
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
}

.lazy{
  font-size: 400%;
  margin-left: auto;
  margin-top: 30px;
  font-family:Lobster, serif;
}

.icon{
}

.oven{
  font-size: 400%;
  margin-right: auto;
  margin-top: 30px;
  font-family:Lobster, serif;
}

