.logo{
  font-size: 500%;
}

.tagLine{
  text-align: center;
}

.icon{
}

.header {
  padding: 15px;
  background: #f9f1dc;
}

.footer {
  padding: 15px;
  background: #f9f1dc;
}

.container {
  justify-content: center;
  display: flex;
}

::ng-deep .mat-select{
  opacity: 0.75;
}

::ng-deep .mat-form-field{
  width:60px;
}
