
<div class="recipe">
  <label>
    I have to start the oven at {{recipe.start.hours}}:{{recipe.start.minutes}}, put the meal at {{recipe.insert.hours}}:{{recipe.insert.minutes}} and put it out at {{recipe.out.hours}}:{{recipe.out.minutes}}, wait for five minutes and eat at {{recipe.end.hours}}:{{recipe.end.minutes}}.
  </label>

  <div class="button">
    <nav>
      <a routerLink="/settings" routerLinkActive="activebutton">
        <button mat-fab class="font">back</button>
      </a>
    </nav>
  </div>
</div>
