
<div class="recipe">
  <div>
    Start the oven at {{recipe.start.hours}}:{{recipe.start.minutes}}.
    <button mat-raised-button class="font">set alarm</button>
  </div>

  <div>
    Put the meal at {{recipe.insert.hours}}:{{recipe.insert.minutes}}.
    <button mat-raised-button class="font">set alarm</button>
  </div>

  <div>
    Put it out at {{recipe.out.hours}}:{{recipe.out.minutes}}.
    <button mat-raised-button class="font">set alarm</button>
  </div>

  <div>
    Wait for five minutes and eat at {{recipe.end.hours}}:{{recipe.end.minutes}}.
    <button mat-raised-button class="font">set alarm</button>
  </div>

  <div class="button">
    <nav>
      <a routerLink="/settings" routerLinkActive="activebutton">
        <button mat-fab class="font">back</button>
      </a>
    </nav>
  </div>
</div>
